* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #8a8787;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
}

html,
body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
}


.container {
  width: 94%;
  height: 94%;
  padding: 50px;

  border: none;
  border-radius: 16px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;

  box-shadow: 0px 0px 16px rgba(119, 17, 159, 0.5);
  /* Right 5px, Down 5px, 10px blur, semi-transparent black */
}

.container,
.container * {
  background-color: #131111;
  list-style-type: none;
}

.container h1 {
  color: #a817eb;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 30%;
  max-width: 300px;
}

ul li a {
  padding: 14px 100px;
  text-decoration: none;
  text-align: center;
  width: 100%;
  display: block;
  background-color: #000000 !important;
  color: #8414b9;

  border: 4px solid #390650;
  border-radius: 16px;

  transition: all 0.1s ease;
}

ul li a:hover {
  color: #a817eb;
  border: 4px solid #a817eb;

  transition: all 0.1s ease;
}


/* color: #8414b9; */

.container table {
  display: flex;
  gap: 16px;
  background-color: #8414b9;
}

.container table * {
  background-color: #000;
  color: #8414b9;
  border: 2px solid #8414b9;
  border-collapse: collapse;
  padding: 10px;
}


/* ---------- */

form {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;

  gap: 16px;

  height: 500px;
}

form p {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

form p label {
  flex: 0 0 200px;
  font-weight: bold;
}

form p select,
form p input {
  flex: 1;
  padding: 2px;
}

.container button {
  font-size: 16px;
  padding: 14px 100px;
  border: 4px solid #390650;
  border-radius: 16px;
  background-color: #000000;
  color: #8414b9;
  transition: all 0.1s ease;
}

.container button:hover,
.container button:focus {
  color: #a817eb;
  border: 4px solid #a817eb;
  outline: none;
  transition: all 0.1s ease;
}

.container form p {
  padding: 14px 10px;
  border: 4px solid #390650;
  border-radius: 16px;
}

.container form p,
.container form p label,
.container form p input,
.container form p select {
  color: #a817eb;
  background-color: #000000;
}

.container form p input,
.container form p select {
  border: 4px solid #390650;
  border-radius: 16px;
  padding: 2px 4px;

  transition: all 0.1s ease;
}

.container form p input:hover,
.container form p select:hover,
.container form p input:active,
.container form p select:active,
.container form p input:focus,
.container form p select:focus {
  border: 4px solid #a817eb;
  outline: none;
  cursor: pointer;

  transition: all 0.1s ease;
}